fastapi
uvicorn
websockets
redis
qdrant-client
langchain
langchain-community
langchain-qdrant
langchain-google-genai
google-generativeai
pydantic
python-dotenv
sentence-transformers
tf-keras
PyJWT
langchain-core
jinja2
langchain-classic